.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323264;
    margin-top: 50px;
    padding-bottom: 30px;

    &__menu-wrapper{
        display: flex;
        align-items: center;
        
    }

    &__menu-facebook-link{
        margin-left: 18px;

        &:hover{
            color: #F0145A;
        }
    }

    &__menu-leng{
        margin-right: 5px;

        a{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            color:#FFF;
            padding: 6px;

            &:hover{
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 0.2);
            }
            
            &:active{
                border: 1px solid #F0145A;
                border-radius: 8px;
                background-color: #F0145A;
            }
        }

    }

    &__menu-contacts{
        position: relative;

        .tel{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            margin-left: 13px;

            &::after{
                content: '' ;
                height: 6px;
                width: 6px;
                background-color: #E6E6F0;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 6px;
                right: -11px;
            }
        }

        

        .address{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            margin-left: 12px;

            &::before{
                content: '' ;
                height: 6px;
                width: 6px;
                background-color: #E6E6F0;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 6px ;
                left: 1px;
            }

            &::after{
                content: '' ;
                height: 6px;
                width: 6px;
                background-color: #E6E6F0;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 6px ;
                right: 109px;
            }
        }
        
    }

    &__nav{
        margin-top: 16px;
        &-list{
            display: flex;
            gap: 15px;
            margin-left: 60px;

        }

        &-link{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;

            
            &:hover{
                padding-bottom: 6px;
                border-bottom:2px solid #FFF;
            }

            &:active{
                color: #F0145A;
                padding-bottom: 6px;
                border-bottom:2px solid #F0145A;
            }
        }
    }

}