.background-wrapper::before{
  content: '';
  width: 1400px;
  height: 10px;
  border-bottom: 1px solid #CACADB;
  background-color: #CACADB;
  border-radius: 12px;
  color: #CACADB;
}

.intro{
  position: relative;
  &__bg {
    width: 584px;
    height: 799px;
    background: url(../img/H_img.svg) no-repeat center / cover;
    display: flex;
    margin: 0 auto;
  
  }
  &__title {
    position: absolute;
    top: 5px;
    left: 464px;
    text-align: center;
    margin: 377px 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #ffffff;
  }
}

.scroll {
  position: absolute;
  left: calc(50% - -46px / 2);
  bottom: -150px;

  &:hover{
    fill: #f0145a;
  }
}


.services {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;

  &__titles {
    border-right: 2px solid #b3b3ba;
    padding-right: 60px;
    margin: 15px 0;

    a {
      display: block;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      text-align: right;
      color: #b3b3ba;
      padding-bottom: 30px;
      &:first-child {
        @extend %purple-title;
      }
      &:last-child{
        padding-bottom: 0px;
      }
      &:hover{
        color: #F0145A;
      }
    }
  }
  &__desc {
    width: 581px;
    margin: 43px 0 43px 60px;
  }

  &__desc-title {
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
  }

  &__desc-text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #ffffff;
  }
}

.advantages{

  &__btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    background: transparent;
    

    &-wrapper{
      
      margin-top: 60px;
      margin-bottom: 10px;
      
      @extend %hover-blue-btn;
    }
    
  }

  &__title{
  @extend %purple-title;
  margin-bottom: 60px;
  }

  &__tiles{
    display: grid;
    grid-template-columns: 460px 460px 460px;
    grid-template-rows: 381px 381px ;
    &-item{
      max-width: 400px;
    }
    &-title{
      font-size: 22px;
      line-height: 27px;
      color: #24A3FF;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    &-desc{
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
    }
  }
}

.slider{
  margin-top: 60px;

  &__wrapper{
    display: flex;
    justify-content: center;
  }

  &__btn-wrapper{
  @extend %hover-blue-btn
  }

  &__inner{
    padding: 30px;
    background-color: #EDEDF7;

  }

  &__btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    background: transparent;

  }

  &__title{
    font-size: 38px;
    line-height: 46px;
    @extend %purple-title;
    padding-top: 10px;
  }

  &__author{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    padding-top: 30px;
  }

  &__jobtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
    padding-top: 10px;
  }

  &__switch-btn{

    &-wrapper{
      display: flex;
      justify-content: center;
      align-self: center;
      gap: 15px;
      margin-top: 30px;
      padding-bottom: 60px;
    }

    width: 16px;
    height: 16px;
    background-color: #24A3FF;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;

    &:hover,&:active{
      opacity: 1;
    }
  }
}

.companies{

  &__title{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    text-align: center;
    padding-bottom: 30px;
  }

  &__inner{
    display: grid;
    grid-template-columns: repeat(4,25fr);
    grid-template-rows: repeat(3,120px);
    
    a{
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  }


  .hillel{
    background-color: #1C4280;
  }
  .wannabiz{
    background-color: #143646;
  }
  .tapgerine{
    background-color: #F48B30;
  }
  .dlook{
    background-color: #9E4DC3;
  }
  .orangear{
    background-color: #F48B30;
  }
  .adtelligent{
    background-color: #E2E2E4;
  }
  .clickky{
    background-color: #C71C36;
  }
  .ecoleasing{
    background-color: #DCF3F9;
  }
  .infratek{
    background-color: #EAEAEA;
  }
  .citypark{
    background-color: #282240;
  }
  .artprint{
    background-color: #1D4568;
  }
  .ultimatecard{
    background-color: #000;
  }
}

