:root{
  --servisec-bg-gradient:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    %purple-title{
      font-size: 38px;
      line-height: 46px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    %hover-blue-btn{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  
      &:hover{
        path{
          stroke:#F0145A;
        }
        button{
          color:#F0145A;
        }
      }
      button{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
      }
    }
}